{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block main %}
<div>
    <h2>{{ snippet.title }} by {{ snippet.created_by.username }}</h2>
    <small>投稿日: {{ snippet.created_at }}</small>
    <pre>{{ snippet.code }}</pre>
    <p>{{ snippet.description }}</p>
</div>
<div class='border border-secondary rounded'>
    <div class='p-3'>
        <h6 class='fw-bold'>コメント一覧</h6>
        {% for com in snippet.comment.all %}
        <div class='pt-2'>
            <div>{{ com.text }}</div>
            <small>by: {{ com.commented_by }}さん {{ com.commented_at }}</small>
        </div>
        {% endfor %}
        <div>
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% bootstrap_button button_type='submit' content='コメント' %}
            </form>
        </div>
    </div>
</div>
{% endblock %}
